*.png
/Sublime/User/Theme - Monokai Pro.sublime-settings
Package Control.user-ca-bundle
/Sublime/User/Theme - Monokai Pro/Theme - Monokai Pro.last-run
result
Alfred/Alfred.alfredpreferences/snippets/Secrets
kitty/kitty.conf.bak
